.about-container:hover {
  transition: 1s;
  -webkit-box-shadow: 35px 35px 0px 0px #f7e2d4;
  -moz-box-shadow: 35px 35px 0px 0px #f7e2d4;
  box-shadow: 35px 35px 0px 0px #f7e2d4;
  border-top: 5px solid #f8bbc5;
  border-left: 5px solid #f8bbc5;
}

.about-container {
  height: 75%;
  margin-bottom: 40px;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
  border-radius: 20px;
  border-top: 5px solid #f5d3d4;
  border-left: 5px solid #f5d3d4;
  -webkit-box-shadow: 55px 55px 0px 0px #f7e2d4;
  -moz-box-shadow: 55px 55px 0px 0px #f7e2d4;
  box-shadow: 55px 55px 0px 0px #f7e2d4;
  position: relative;
  transition: 2s;

  .panel-info {
    position: absolute;
    top: -4%;
    background-color: #bed1c5;
    border-radius: 10px 10px 6px 6px;
    padding: 5px 20px;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      margin-left: 20px;
    }
  }

  .content {
    height: 100%;
    width: 100%;

    .user-info {
      width: 100%;
      height: 70%;

      .user-photo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;

        img {
          width: 150px;
        }

        p {
          margin-left: 50px;
          color: #777;
          padding: 5px 10px;
          border-radius: 20px;
        }

        p:hover {
          cursor: pointer;
        }
      }
    }

    .tree-container {
      width: 100%;
      height: 30%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
