.connect-container:hover {
  transition: 1s;
  -webkit-box-shadow: 35px 35px 0px 0px #f5d3d4;
  -moz-box-shadow: 35px 35px 0px 0px #f5d3d4;
  box-shadow: 35px 35px 0px 0px #f5d3d4;
  border-top: 5px solid #a8d2e0;
  border-left: 5px solid #a8d2e0;
}

.connect-container {
  height: 75%;
  margin-bottom: 40px;
  padding: 20px;
  box-sizing: border-box;
  width: 30%;
  border-radius: 20px;
  border-top: 5px solid #9bb8d4;
  border-left: 5px solid #9bb8d4;
  -webkit-box-shadow: 55px 55px 0px 0px #f5d3d4;
  -moz-box-shadow: 55px 55px 0px 0px #f5d3d4;
  box-shadow: 55px 55px 0px 0px #f5d3d4;
  position: relative;
  transition: 2s;

  .panel-info {
    position: absolute;
    top: -4%;
    background-color: #bed1c5;
    border-radius: 10px 10px 6px 6px;
    padding: 5px 20px;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      margin-left: 20px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .connect-text {
      font-size: 20px;
      padding: 20px;
      text-align: center;
      color: #777;
      margin-bottom: 10px;
    }

    .invite-friend {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 50px;

      input {
        border: none;
        border-bottom: 1px solid #777;
        outline: none;
        color: #777;
        margin-right: 50px;
        margin-top: 25px;
        padding: 5px 10px;
        font-size: 16px;
      }

      p {
        background-color: #bed1c5;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        margin-top: 20px;
      }

      p:hover {
        cursor: pointer;
      }
    }

    .connection-text {
      color: #777;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .connections {
      width: 75%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      .connection-item-container {
        width: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 0px 0px #d8d8d8;
        -moz-box-shadow: 5px 5px 0px 0px #d8d8d8;
        box-shadow: 5px 5px 0px 0px #d8d8d8;
        transition: 1s;

        i {
          font-size: 68px;
          margin-bottom: 20px;
          color: #777;
        }

        img {
          width: 69px;
          height: 69px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 20px;
        }
      }

      .connection-item-container:hover {
        transition: 0.2s;
        -webkit-box-shadow: 5px 5px 0px 0px #d8d8d8;
        -moz-box-shadow: 5px 5px 0px 0px #d8d8d8;
        box-shadow: 10px 10px 0px 0px #d8d8d8;
      }
    }
  }
}
