.footer-container {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);


  .section {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-title {
      color: #f76c6c;
      font-weight: bold;
      margin-right: 20px;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    #logo {
      margin-top: 0px;
      margin-right: 20px;
    }
  }

  .linkedin {
    font-size: 32px;
    color: #fff;
    color: #2e9cca;
  }

  .youtube {
    color: #fe0000;
    margin-left: 10px;
  }
  
  .website-section {
    margin-bottom: 0px;
  }

}