.middle-panel {
  .home-events {
    height: 100%;
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;

    .event-item {
      border-top: 3px solid #f7e2d4;
      border-left: 3px solid #f7e2d4;
      border-bottom: 3px solid #f7e2d4;
      border-right: 3px solid #f7e2d4;
      box-sizing: border-box;
      color: #555;
      font-weight: bold;
      width: 95%;
      padding: 20px;
      min-height: 200px;
      border-radius: 20px;
      margin-bottom: 20px;
      z-index: 1000;
      background-color: #fff;
      // -webkit-box-shadow: 0px 0px 20px 0px rgba(245, 188, 94, 1);
      // -moz-box-shadow: 0px 0px 20px 0px rgba(245, 188, 94, 1);
      animation: shadow 10s ease infinite;

      @keyframes shadow {
        0% {
          // box-shadow: 15px 15px 0px 0px rgb(224,205,241);
          border-top: 3px solid #f7e2d4;
          border-left: 3px solid #f7e2d4;
        }

        50% {
          border-top: 3px solid #f5d3d4;
          border-left: 3px solid #f5d3d4;
        }

        100% {
          // box-shadow: 15px 15px 0px 0px rgb(224,205,241);
          border-top: 3px solid #f7e2d4;
          border-left: 3px solid #f7e2d4;
        }
      }
    }

    .event-item:hover {
      transition: 0.3s;
      transform: scale(1.01);
      border-bottom: 3px solid #f5d3d4;
      border-right: 3px solid #f5d3d4;
    }
  }
}
