.right-panel {
  justify-content: flex-start !important;

  .home-calendar:hover {
    transition: 1s;
    -webkit-box-shadow: 35px 35px 0px 0px #9bb8d4;
    -moz-box-shadow: 35px 35px 0px 0px #9bb8d4;
    box-shadow: 35px 35px 0px 0px #9bb8d4;
    border-top: 5px solid #fff9ba;
    border-left: 5px solid #fff9ba;
  }

  .buttons {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    bottom: 22%;
    right: 4.5%;

    .btn {
      background-color: #fff;
      text-align: center;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      width: 110%;
      box-sizing: border-box;
      text-decoration: none;
      margin-top: 20px;
      background-color: #bed1c5;
      -webkit-box-shadow: 10px 10px 0px 0px #f8efc1;
      -moz-box-shadow: 10px 10px 0px 0px #f8efc1;
      box-shadow: 10px 10px 0px 0px #f8efc1;
      transition: 0.5s;
      margin-right: 100px;
    }

    .btn-profile {
      width: 110%;
    }

    .btn-event {
      width: 110%;
    }

    .btn:hover {
      transition: 0.5s;
      background-color: #bed1c5;
      color: #fff;
      -webkit-box-shadow: 20px 20px 0px 0px #f8efc1;
      -moz-box-shadow: 20px 20px 0px 0px #f8efc1;
      box-shadow: 20px 20px 0px 0px #f8efc1;
    }

    @keyframes borders {
      0% {
      }

      100% {
        border-left: 1px solid #bed1c5;
        border-right: 1px solid #bed1c5;
      }
    }
  }

  .home-calendar {
    transition: 2s;
    width: 90%;
    height: 55%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 10px -10px 0px 0px #9bb8d4;
    -moz-box-shadow: 10px 10px 0px 0px #9bb8d4;
    box-shadow: 55px 55px 0px 0px #9bb8d4;
    border-top: 5px solid #f7e2d4;
    border-left: 5px solid #f7e2d4;
    margin-bottom: 312px;
    position: relative;

    .calendar-control {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .title {
        font-size: 32px;
        padding: 0px 20px;
      }

      i {
        color: #555;
        border-radius: 50%;
        padding: 3px;
      }

      i:hover {
        transition: 0.2s;
        background-color: wheat;
        color: #fff;
      }
    }

    .calendar {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      span {
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .day-name-week {
        color: wheat;
        font-weight: bold;
      }

      .hide-days {
        opacity: 0;
      }

      .day {
        span {
          padding: 0;
          width: 70%;
          height: 70%;
          border-radius: 50%;
          background-color: white;
        }
      }

      .week-day {
        border-radius: 50%;
        color: #fff;
        font-weight: bold;

        span {
          background-color: wheat;
        }
      }

      .work-day {
        span:hover {
          background-color: #408f90;
          transition: 0.2s;
          color: white;
        }
      }

      .pending {
        span {
          background-color: rgb(247, 226, 212);
        }
      }

      .open {
        span {
          background-color: #bed1c5;
        }
      }

      .closed {
        span {
          background-color: #f5d3d4;
        }
      }
    }
  }
}
