.wheater-container:hover {
  transition: 1s;
  -webkit-box-shadow: 35px 35px 0px 0px #9bb8d4;
  -moz-box-shadow: 35px 35px 0px 0px #9bb8d4;
  box-shadow: 35px 35px 0px 0px #9bb8d4;
  border-top: 5px solid #fff9ba;
  border-left: 5px solid #fff9ba;
}

.wheater-container {
  padding: 20px;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 50px;
  border-top: 5px solid #f7e2d4;
  border-left: 5px solid #f7e2d4;
  -webkit-box-shadow: 55px 55px 0px 0px #9bb8d4;
  -moz-box-shadow: 55px 55px 0px 0px #9bb8d4;
  box-shadow: 55px 55px 0px 0px #9bb8d4;
  position: relative;
  transition: 2s;

  .panel-info {
    position: absolute;
    top: -5%;
    background-color: #bed1c5;
    border-radius: 10px 10px 6px 6px;
    padding: 5px 20px;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      margin-left: 20px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      color: #777;
    }

    .title {
      font-size: 1.5em;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .descr {
      text-align: center;
      font-size: 0.8em;
      margin-bottom: 30px;
    }

    .google-btn {
      background-color: #bed1c5;
      padding: 5px 10px;
      border-radius: 10px;
      width: 55%;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      i {
        color: #fff;
        border-right: 1px solid #fff;
        padding-right: 10px;
      }

      p {
        color: #fff;
      }
    }

    .google-btn:hover {
      cursor: pointer;
    }

    .select-title {
      margin-bottom: 15px;
      font-size: 18px;
    }

    select {
      border: none;
      margin-bottom: 15px;
      width: 55%;
      border-bottom: 1px solid #f7f7f7;
      font-family: 'Varela Round', sans-serif;
      color: #fff;
      background-color: #bed1c5;
      border-radius: 10px;
      text-align: center;
      outline: none;
      padding: 2px 5px;

      option {
        border: none;
        border-radius: 10px;
        padding: 5px;
      }
    }

    select:hover {
      cursor: pointer;
    }

    .create-title {
      margin-bottom: 15px;
      font-size: 18px;
    }

    input {
      background-color: #bed1c5;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 4px 10px;
      color: #fff;
      width: 55%;
      box-sizing: border-box;
      margin-bottom: 15px;
    }

    input:hover {
      cursor: pointer;
    }

    .sync {
      color: #fff;
      background-color: #bed1c5;
      padding: 5px;
      font-size: 30px;
      border-radius: 20px;
      transition: 0.5s;
    }

    .sync:hover {
      padding: 5px;

      transition: 0.5s;
      transform: rotateZ(180deg);
    }
  }
}
