@import '../colors.scss';

.page-container {
  width: 100%;

  .landing-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(270deg, #25274d, #29648a, #25274d);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    overflow: hidden;

    @-webkit-keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes AnimationName {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .platform-link {
      position: absolute;
      z-index: 100;
      top: 3%;
      left: 2%;
      background-color: #f76c6c;
      padding: 5px 30px;
      border-radius: 20px;
      font-size: 24px;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
      }
    }

    .information {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 90vh;
      overflow: hidden;
      position: relative;

      .contact-us {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .errors {
          color: #cf0b13;
          font-weight: bold;
          text-align: center;
        }

        .contact-label {
          width: auto;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          margin-bottom: 20px;

          span {
            margin-bottom: 5px;
          }

          input,
          textarea {
            width: 300px;
            outline: none;
            padding: 3px 10px;
            font-size: 16px;
            border: none;
            border-bottom: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
          }

          textarea {
            resize: none;
            height: 100px;
          }
        }

        .contact-btn {
          transition: 0.3s;
          margin-top: 20px;
          font-size: 24px;
          color: #fff;
          background-color: transparent;
          border: none;
          border: 1px solid #fff;
          padding: 5px 10px;
          border-radius: 20px;
          width: 150px;
          align-self: center;
        }

        .contact-btn:hover {
          transition: 0.3s;
          cursor: pointer;
        }
      }

      #crane {
        position: absolute;
        right: -20%;
        bottom: -2%;
        width: 105%;
      }

      #under {
        position: absolute;
        width: 20%;
        left: 10%;
        bottom: -7%;
      }

      .logo-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px;

        #front-logo {
          width: 25%;
        }

        #hooks {
          position: absolute;
          top: -222%;
          width: 10%;
          right: 44.7%;
        }
      }
    }

    #logo {
      width: 25%;
    }

    .description {
      color: #000;
      margin-top: 0px;
      color: #f76c6c;
      font-size: 32px;
      width: 33%;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 1%;
    }

    .informer {
      margin-top: 0px;
      width: 33%;
      text-align: center;
      font-size: 20px;
    }

    .particles {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 2000px) and (max-width: 2560px) {
  .page-container {
    .landing-content {
      .platform-link {
        padding: 5px 40px;
        a {
          font-size: 32px;
        }
      }

      .information {
        .logo-container {
          margin-top: 75px;
          #front-logo {
            width: 20%;
          }

          #hooks {
            width: 8%;
            top: -220%;
            right: 45.7%;
          }
        }

        .description {
          margin-top: 20px;
        }

        .informer {
          font-size: 24px;
        }

        #under {
          width: 15%;
          bottom: -7.8%;
        }

        #crane {
          width: 100%;
          right: -17.5%;
          bottom: -2%;
        }

        .contact-us {
          .contact-label {
            font-size: 20px;

            input {
              font-size: 18px;
            }
          }

          .contact-btn {
            font-size: 32px;
            width: 200px;
          }
        }
      }

      .footer-container {
        .section {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .page-container {
    .landing-content {
      .platform-link {
        left: 2.5%;
      }

      .information {
        .logo-container {
          margin-top: 30px;
          #front-logo {
            width: 30%;
          }

          #hooks {
            width: 12%;
            top: -222%;
            right: 43.7%;
          }
        }

        .description {
          font-size: 24px;
        }

        .informer {
          font-size: 16px;
        }

        #under {
          bottom: -4.5%;
        }

        #crane {
          width: 115%;
          right: -20.5%;
          bottom: -1%;
        }

        .contact-us {
          top: 45%;
          .contact-label {
            font-size: 18px;

            input {
              font-size: 16px;
            }
          }

          .contact-btn {
            font-size: 24px;
            width: 150px;
          }
        }
      }

      .footer-container {
        .section {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .page-container {
    .landing-content {
      .platform-link {
        left: 3%;
      }

      .information {
        .logo-container {
          margin-top: 30px;
          #front-logo {
            width: 30%;
          }

          #hooks {
            width: 12%;
            top: -222%;
            right: 43.7%;
          }
        }

        .description {
          font-size: 24px;
          width: 40%;
        }

        .informer {
          font-size: 16px;
          width: 40%;
        }

        #under {
          bottom: -3%;
        }

        #crane {
          width: 155%;
          right: -32.5%;
          bottom: -2%;
        }

        .contact-us {
          top: 42%;
          .contact-label {
            font-size: 16px;

            input {
              font-size: 15px;
            }
          }

          .contact-btn {
            font-size: 24px;
            width: 150px;
          }
        }
      }

      .footer-container {
        padding: 20px;
        .logo-container {
          #logo {
            width: 35%;
          }
        }
        .section {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-container {
    .landing-content {
      .platform-link {
        left: 5%;
        padding: 3px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 20px;
          margin-bottom: 2px;
        }
      }
      .information {
        .logo-container {
          margin-top: 30px;
          #front-logo {
            width: 40%;
          }

          #hooks {
            width: 17%;
            top: -237%;
            right: 41.2%;
          }
        }

        .description {
          font-size: 20px;
          width: 45%;
        }

        .informer {
          font-size: 16px;
          width: 50%;
        }

        #under {
          bottom: -2.5%;
        }

        #crane {
          width: 190%;
          right: -42.5%;
          bottom: -1%;
        }

        .contact-us {
          top: 40%;
          .contact-label {
            font-size: 15px;

            input,
            textarea {
              font-size: 14px;
              width: 250px;
            }
          }

          .contact-btn {
            font-size: 20px;
            width: 125px;
          }
        }
      }

      .footer-container {
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        height: 15vh;
        .logo-container {
          #logo {
            width: 15%;
          }
        }
        .section {
          font-size: 14px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .page-container {
    .landing-content {
      height: auto;

      .platform-link {
        top: 2%;
        left: 5%;
        padding: 3px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          font-size: 20px;
        }
      }

      .information {
        height: auto;
        .logo-container {
          margin-top: 100px;
          #front-logo {
            width: 60%;
          }

          #hooks {
            width: 25%;
            top: -232%;
            right: 37.2%;
          }
        }

        .description {
          font-size: 20px;
          width: 75%;
        }

        .informer {
          font-size: 16px;
          width: 75%;
        }

        #under {
          width: 45%;
          position: initial;
          margin-top: 20px;
          margin-bottom: -28px;
        }

        #crane {
          width: 350%;
          right: -100.5%;
          bottom: -1%;
        }

        .contact-us {
          position: initial;
          margin-top: 75px;
          .contact-label {
            font-size: 15px;

            input,
            textarea {
              font-size: 14px;
              width: 250px;
            }
          }

          .contact-btn {
            font-size: 20px;
            width: 125px;
          }
        }
      }

      .footer-container {
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
        .logo-container {
          #logo {
            width: 30%;
          }
        }
        .section {
          font-size: 14px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .page-container {
    min-height: auto;
    height: auto;
    .landing-content {
      height: auto;

      .platform-link {
        top: 3.5%;
        left: 4%;
        padding: 3px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          font-size: 18px;
        }
      }

      .information {
        height: auto;
        .logo-container {
          margin-top: 100px;
          #front-logo {
            width: 75%;
          }

          #hooks {
            width: 30%;
            top: -222%;
            right: 34.2%;
          }
        }

        .description {
          font-size: 18px;
          width: 80%;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .informer {
          font-size: 15px;
          width: 75%;
        }

        #under {
          width: 45%;
          position: initial;
          margin-top: 20px;
          margin-bottom: -22px;
        }

        #crane {
          width: 400%;
          right: -116.5%;
          bottom: -1%;
        }

        .contact-us {
          position: initial;
          margin-top: 50px;
          .contact-label {
            font-size: 14px;

            input,
            textarea {
              font-size: 13px;
              width: 200px;
            }
          }

          .contact-btn {
            font-size: 18px;
            width: 100px;
          }
        }
      }

      .footer-container {
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
        .logo-container {
          #logo {
            width: 30%;
          }
        }
        .section {
          font-size: 13px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
