$primary-bg: #25274d;
$primary-text: #fff;
$primary-btn: #f76c6c;

$secondary-bg: #fff;
$secondary-text: #000;
$secondary-btn: #2e9cca;

$third-bg: #0a0a0a;

$input-bg: #000;
$input-border: #fff;

$faq-bg: #000;
$faq-border: #fff;
$faq-hover: #222;

$step-2-item-bg: #131313;

$info-bg: #222;

$primary-hover: #323467;


// --- PALETTE ---

$primary-bg: #25274d;
$secondary-bg: #fff;
$third-bg: #aaabb8;
$fourth-bg: #29648a;

$primary-input: #25274d;

