.event-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;

    .filter {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: #000;
      top: 0;
      left: 0;
      opacity: 0.3;
    }

    .navigation {
      margin-top: 50px;
      width: 60%;
      height: 150px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      a {
        width: 30%;
        text-align: center;
        background-color: #bed1c5;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        -webkit-box-shadow: 10px 10px 0px 0px #e8e8e8;
        -moz-box-shadow: 10px 10px 0px 0px #e8e8e8;
        box-shadow: 10px 10px 0px 0px rgb(248, 239, 193);
        transition: 1s;
        margin-bottom: 20px;
        margin-left: 50px;
      }
    
      a:hover {
        transition: 0.5s;
        background-color: #bed1c5;
        color: #fff;
        -webkit-box-shadow: 20px 20px 0px 0px #e8e8e8;
        -moz-box-shadow: 20px 20px 0px 0px #e8e8e8;
        box-shadow: 20px 20px 0px 0px #f2e9b4;
      }
    }

    .event-participants {
      margin-top: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 60%;

      .participants-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        .info {
          margin-right: 100px;
          font-weight: bold;
        }
      }

      .participants {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .event-details {
      margin-top: 100px;
      width: 60%;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: -10px -10px 0px 0px #f5d3d4;
      -moz-box-shadow: -10px -10px 0px 0px #f5d3d4;
      box-shadow: 55px 55px 0px 0px #f5d3d4;
      border-left: 5px solid #bed1c5;
      border-top: 5px solid #bed1c5;

      .buttons {
        position: absolute;
        top: 7%;
        right: 5%;

        .close {
          background-color: #fc5024;;
        }

        p {
          padding: 3px 25px;
          background-color: #F5D3D4;
          border-radius: 20px;
          color: #fff;
          margin-bottom: 10px;
          font-size: 24px;
          text-align: center;
        }

        .invitation {
          background-color: #BED1C5;
        }

        p:hover {
          cursor: pointer;
        }
      }

      h1 {
        color: #555;
      }

      .event-labels {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 40%;
        display: inline-block;
        margin-top: 40px;
        
        .label {
          margin-top: 10px;
          font-weight: bold;
          color: #555;
        }
      }

      .event-info {
        width: 60%;
        display: inline-block;

        .info {
          margin-top: 10px;
        }
      }

      .event-detail {
        margin-top: 20px;
      }
    }
  }
}