.forgot-success {
  font-size: 24px;
  color: #555;
  animation: appear-forgot 1s forwards ease;
}

@keyframes appear-forgot {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login {
  background: transparent !important;
  animation: disappear 1s forwards ease;

  @keyframes disappear {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .forgot-title {
    margin-top: 50px;
    color: #50d5b7;
    animation: change-color 6s infinite ease-out;
  }

  @keyframes change-color {
    0% {
      color: #50d5b7;
    }

    50% {
      color: #067d68;
    }

    100% {
      color: #50d5b7;
    }
  }

  .forgot-descr {
    font-size: 12px;
    padding-top: 20px;
    color: #555;
    font-weight: bold;
    overflow: hidden;
  }

  @keyframes appear {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  .forgot-btn {
    margin-bottom: 50px;
  }

  .forgot-label {
    position: relative;

    .hide {
      opacity: 0;
    }

    .error-icon {
      position: absolute;
      right: -230px;
      color: #ff3d0d;
    }

    .error-icon:hover {
      .auth-error-modal {
        opacity: 1;
      }
    }
  }

  .error-label {
    color: #ff3d0d !important;
  }

  .error-input {
    border-bottom: 1px solid #ff3d0d !important;
  }
}

.forgot-pass-container {
  position: relative;

  img {
    left: 9%;
    animation: slide-in-2 1s forwards ease;
  }

  @keyframes slide-in-2 {
    0% {
      transform: translateX(0);
      opacity: 0;
    }

    100% {
      transform: translateX(20px);
      opacity: 1;
    }
  }

  .forgot-toast {
    position: absolute;
    top: 30%;
    right: 15%;
    width: 60px;
    padding: 5px 15px;
    border-radius: 40px 0px 0px 40px;
    background-color: #fff;
    color: white;
    font-weight: bold;
  }

  .shrink {
    animation: shrink 2s infinite ease;
  }

  @keyframes shrink {
    0% {
      background-color: #ff3d0d;
      opacity: 1;
    }
    50% {
      background-color: #ff3300;
      opacity: 0.75;
    }
    100% {
      background-color: #ff3d0d;
      opacity: 1;
    }
  }
}
