.home-container {
  width: 100vh;
  width: 100%;
  background: #fff;

  .panel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .panel {
      width: 25%;
      height: 90.3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
