.landing-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  .landing-title {
    margin-top: 100px;
    font-size: 52px;
    color: #555;
    font-weight: bold;
  }

  .landing-nav {
    position: absolute;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #bed1c5;
    padding: 10px 40px;
    right: 15%;
    border-radius: 40px 0px 0px 40px;
  }

  .landing-nav:hover {
    transition: 0.2s;
    padding-left: 50px;
  }

  .landing-nav:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    border-right: 1px solid #555;
  }

  #nav-reg {
    top: 60%;
  }

  #nav-log {
    top: 52%;
  }

  #nav-hom {
    top: 44%;
  }
}
