.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;

  .extra {
    height: 100px;
    width: 100%;
  }

  img {
    position: absolute;
    left: 0;
    top: 40%;
  }

  .nav-item {
    position: absolute;
    top: 60%;
    right: 15%;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #50d5b7;
    padding: 10px 40px;
    right: 15%;
    border-radius: 40px 0px 0px 40px;
  }

  .nav-item:hover {
    transition: 0.2s;
    padding-left: 50px;
  }

  .nav-reg {
    top: 44%;
  }

  .nav-lan {
    top: 52%;
  }

  .nav-item:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    border-right: 1px solid #555;
  }

  .login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    animation: slide-in-3 4s forwards ease-in;

    @keyframes slide-in-3 {
      0% {
        transform: translateY(0px);
      }

      25% {
        transform: translateY(15px);
      }

      50% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(15px);
      }
    }

    .login-title {
      margin-top: 50px;
      color: #50d5b7;
      animation: change-color 6s infinite ease-out;
    }

    @keyframes change-color {
      0% {
        color: #50d5b7;
      }

      50% {
        color: #067d68;
      }

      100% {
        color: #50d5b7;
      }
    }

    .login-form {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 100px 80px;

      .login-input {
        border: none;
        border-bottom: 1px solid #555;
        padding: 5px 10px;
        outline: none;
        margin-bottom: 30px;
        width: 250px;
        color: #555;
        font-weight: bold;
      }

      .login-label {
        align-self: flex-start;
        color: #555;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .forgot-pass-link {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 50px;
      color: #555;
      text-decoration: none;
      border-bottom: 1px solid #555;
    }

    .login-btn {
      color: #fff;
      font-size: 18px;
      border: none;
      outline: none;
      padding: 10px 40px;
      background-color: #f5bc5e;
      border-radius: 20px;
    }

    .login-btn:hover {
      padding: 9px 40px;
      transition: 0.2s;
      background-color: #fff;
      color: #50d5b7;
      font-weight: bold;
      border: 1px solid #f5bc5e;
    }
  }
}
