@import '../../animations/index.scss';

.register-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;

  .registration-msg {
    position: absolute;
    top: 45%;
    text-align: center;
    z-index: 20;

    .first {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .second {
      font-size: 16px;
    }
  }

  .register-toast {
    position: absolute;
    top: 30%;
    right: 15%;
    width: 60px;
    padding: 5px 15px;
    border-radius: 40px 0px 0px 40px;
    background-color: #fff;
    color: white;
    font-weight: bold;
  }

  .shrink {
    animation: shrink 2s infinite ease;
  }

  @keyframes shrink {
    0% {
      background-color: #ff3d0d;
      opacity: 1;
    }
    50% {
      background-color: #ff3300;
      opacity: 0.75;
    }
    100% {
      background-color: #ff3d0d;
      opacity: 1;
    }
  }

  .success-toast {
    background-color: green;
    animation: shrink-success 2s infinite ease;
  }

  @keyframes shrink-success {
    0% {
      background-color: #50d5b7;
      opacity: 1;
    }
    50% {
      background-color: #067d68;
      opacity: 0.75;
    }
    100% {
      background-color: #50d5b7;
      opacity: 1;
    }
  }

  .extra {
    height: 100px;
    width: 100%;
  }

  img {
    position: absolute;
    left: 0;
    top: 45%;
    width: 500px;
  }

  .nav-item {
    position: absolute;
    top: 60%;
    right: 15%;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #50d5b7;
    padding: 10px 40px;
    right: 15%;
    z-index: 20;
    border-radius: 40px 0px 0px 40px;
  }

  .nav-item:hover {
    transition: 0.2s;
    padding-left: 50px;
  }

  .nav-reg {
    top: 44%;
  }

  .nav-lan {
    top: 52%;
  }

  .nav-item:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    border-right: 1px solid #555;
  }

  .slide-in {
    animation: slide-in 4s forwards ease-in;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(15px);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(15px);
    }
  }

  .register {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

    .register-title {
      margin-top: 50px;
      color: #50d5b7;
      animation: change-color 6s infinite ease-out;
    }

    @keyframes change-color {
      0% {
        color: #50d5b7;
      }

      50% {
        color: #067d68;
      }

      100% {
        color: #50d5b7;
      }
    }

    .register-form {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 100px 80px;

      .custom-error-register {
        font-size: 14px;
        font-weight: bold;
        animation: pulse 2s infinite ease;
      }

      @keyframes pulse {
        0% {
          color: #ff3e0e;
        }

        50% {
          color: #e60000;
        }

        100% {
          color: #ff3e0e;
        }
      }

      .register-input {
        border: none;
        border-bottom: 1px solid #555;
        padding: 5px 10px;
        outline: none;
        margin-bottom: 30px;
        width: 250px;
        background: #fff;
        color: #555;
        font-weight: bold;
      }

      .input-error {
        border-bottom: 1px solid #ff3d0d;
      }

      .register-label {
        align-self: flex-start;
        position: relative;
        color: #555;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        width: 70%;

        .field-error {
          color: #ff3d0d;
          font-size: 11px;
          margin-top: 5px;
        }

        .error-icon {
          color: #ff3d0d;
          position: absolute;
          right: -80px;
          transform: scale(1.2);
        }

        .error-icon:hover {
          .auth-error-modal {
            opacity: 1;
          }
        }

        .hide {
          display: none;
        }
      }

      .error-label {
        color: #ff3d0d;
      }
    }

    .register-btn {
      color: #fff;
      font-size: 18px;
      border: none;
      outline: none;
      padding: 10px 40px;
      background-color: #f5bc5e;
      border-radius: 20px;
      margin-bottom: 50px;
    }

    .register-btn:hover {
      padding: 9px 40px;
      transition: 0.2s;
      background-color: #fff;
      color: #50d5b7;
      font-weight: bold;
      border: 1px solid #f5bc5e;
    }
  }
}
