body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

.component-title {
  font-size: 42px;
  color: #b3b3b3;
}

.basic-btn {
  border: none;
  outline: none;
}

.basic-btn:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #555 !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.resToast-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  animation: toast-appear 5s forwards ease;

  @keyframes toast-appear {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }

    10% {
      transform: translateX(0px);
      opacity: 1;
    }

    90% {
      transform: translateX(0px);
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  i {
    margin-right: 20px;
    border-right: 1px solid #fff;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
  }

  .toast-message {
    color: #fff;
  }
}

.toast-error {
  background-color: #F65F67;
}

.toast-success {
  background-color: #689F65;
}

.connection-toast {
  top: -11%;
  left: 4%;
}

.aboutUser-toast {
  top: 10%
}

.create-event-toast {
  top: 5%;
}